{% extends 'admin/base.html.twig' %} 

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			<i class="fa fa-tags"></i> Tag / Category List
		</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="{{ WEB_ROOT }}/admin/dashboard">Home</a></li>
			<li><i class="fa fa-list"></i>Tag / Category List</li>
		</ol>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading"> Search Tag / Category </header>
			<div class="panel-body">
				<form class="form-inline" role="form" method="get" action="{{ WEB_ROOT }}/admin/term/list">				
					<div class="form-group">
						<select name="c" id="c" class="form-control" required="required">
							<option value="name" {% if param.c is sameas("name") %}selected{% endif %}>Name</option>
							<option value="about" {% if param.c is sameas("description") %}selected{% endif %}>Description</option>				
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" required="required" name="k" id="c" value="{{ param.k }}" />
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
					<button type="button" onclick="javascript:top.location='{{ WEB_ROOT }}/admin/term/write?{{ param.parameter }}'" class="btn btn-lg btn-success pull-right">
						<i class="fa fa-pencil">&nbsp;</i> Write
					</button>
				</form>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<section class="panel table-responsive">
			<table class="table table-striped table-advance table-hover">
				<tbody>
					<tr>
						<th><i class="fa fa-info-circle">&nbsp;</i> Term Name</th>						
						<th class=""><i class="fa fa-map-signs">&nbsp;</i> Term Parents</th>
						<th><i class="fa fa-bars">&nbsp;</i> Taxonomy</th>
						<th class="" style="text-align: center;"><i class="fa fa-gears">&nbsp;</i> Action</th>
					</tr>
					
					{% if term is not empty %}			
						{% for i in term %}
							<tr>
								{% set no = paging.totalRows - loop.index0 - (paging.current - 1) * paging.pageSize %}
								<td onclick="location.href='{{ WEB_ROOT }}/admin/term/detail?seq={{ i.seq }}&{{ param.parameter }}'">
									<a href="{{ WEB_ROOT }}/admin/term/detail?seq={{ i.seq }}&{{ param.parameter }}">
										{{ i.name }}
									</a>
								</td>
								<!--  
								<td class="">{{ i.description|length > 90 ? i.description|slice(0, 90)|striptags ~ '...' : i.description|striptags }}</td>
								-->
								<td class="">
									{% set path = "" %}
									{% set labelRef = "" %}
									{% for j in i.fullPath %}
										{% set labelRef = "<a href='" ~ WEB_ROOT ~ "/admin/term/detail?seq=" ~ j.seq ~ "&" ~ param.parameter ~ "'>" ~ j.name ~ "</a>" %}
										{% set path = path ~ " > " ~ labelRef %}
									{% endfor %}
									{{ path[2:]|raw }}
								</td>
								<td class="">{% if i.taxonomy == "tag" %}Tag{% else %}Category{% endif %}</td>
								<td class="">
									<div class="btn-group pull-right">
										<a href="{{ WEB_ROOT }}/admin/term/detail?seq={{ i.seq }}&{{ param.parameter }}" class="btn btn-info"><i class="fa fa-search"></i> Detail</a>
										<a href="{{ WEB_ROOT }}/admin/term/edit?seq={{ i.seq }}&{{ param.parameter }}" class="btn btn-success"><i class="fa fa-edit"></i> Edit</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
					{% if term is empty %}			
						<tr>
							<td colspan="4">No Data</td>
						</tr>		    
					{% endif %}					

				</tbody>
			</table>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="text-center">
			<ul class="pagination">
				{{ paging.paging|raw }}
			</ul>
		</div>
	</div>
</div>

{% endblock %} 

{% block js%}
<script>	
</script>
{% endblock %}